<div class="div">
    
    <h2>Perfil de {{user.user}}</h2>
    
    <div class="text-md-right m-4">

    <a href="/logout" class="btn btn-primary background-danger">
        cerrar sesión
    </a>

    </div>
</div>