{{#if user}}
    <div id="op-canvas">
        <div class="dropInactive getId menu-div" id="menu{{@index}}">
            <div class="menu">
                {{#when userId "eq" ../user._id}}
                <a href="/edit/{{_id}}" class="menu-element"><span class="menu-icon-div"><i class="fas fa-edit"></i></span>Editar</a>
                <form action="/delete/{{_id}}?_method=DELETE" method="POST">
                <button type="submit" name="delete-btn" class="menu-element"><span class="menu-icon-div"><i class="fas fa-trash-alt"></i></span>Eliminar</button>
                </form>
                {{/when}}
                <a class="menu-element" href="#"><span class="menu-icon-div"><i class="fas fa-user-alt"></i></span>Perfil</a>
                <a href="http://" target="_blank" rel="noopener noreferrer">aaaaaa</a>
                <a class="menu-element" href="#"><span class="menu-icon-div"><i class="fas fa-info"></i></span>Info</a>
            </div>
        </div>
    </div>
    <div id="asideL">
        LADO IZQUIERDO
    </div>
    <div id="center">
        {{> newPublications }}
        {{> publication }}
    </div>
    <div id="asideR">
        LADO DERECHO
    </div>
{{else}}
<div class="m-0 row justify-content-center login-card">
    <div class="col-md-4 mx-auto">
        <div class="card col d-flex justify-content-center">
            <div class="card-header">
                Ingresá
            </div>
            <div class="card-body">
                <form action="/login" method="post">
                    <div class="form-group">
                        <input type="text" name="user" class="form-control" placeholder="usuario o email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="contraseña">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Ingresar
                        </button>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="rem" name="remember"> <label for="rem" style="font-size: 14px;">Mantener sesión iniciada</label>
                    </div>
                    <div class="form-group">
                        <a href="/forgetpass" class="d-flex w-50" style="font-size: 12px; float: left;">¿Olvidaste tu contraseña?</a>
                        <a href="/signup" class="d-flex w-50" style="font-size: 12px; float: right; justify-content: right;">Registrarse</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/if}}

<script src="/javascript/option-btn.js"></script>