body{
    background: #fff;
    height: 93.5vh;}
html, body{
    margin: 0;}
#main{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;}
.bg-dark{
    background-color: #212121;}
.bg-light{
    background-color: #fff;}
.a-normalize{
    text-decoration: none;
    color: #000;}
.a-normalize:hover{
    text-decoration: none;
    color:#000;}
.hide{
    display: none;}