<div id="nav-space"></div>
<nav>
  <div id="nav-items">

    <!-- Titulo -->
    <span id="title"><a class="a-normalize" href="/">Luccagram</a></span>

    <!-- Search Bar -->
    <div id="div-search">
      <input autocomplete="off" type="text" oninput="showResult(this.value)" name="search" id="search" placeholder="buscar">
      <div id="searchResults">

      </div>
    </div>
    <script src="/javascript/browser.js"></script>

    <!-- nav Menu -->
    <div id="div-nav-btns">
      <button type="button" class="navBtn">
        <span class="material-icons">
          home
        </span>
      </button>
      <button type="button" class="navBtn">
        <span class="material-icons">
          favorite_border
        </span>
      </button>
      <button type="button" class="navBtn">
        <span class="material-icons">
          <a class="a-normalize" href="/user/{{user.user}}">account_circle</a>
        </span>
      </button>
      <button type="button" class="navBtn">
        <span class="material-icons">
          chat_bubble
        </span>
      </button>
      <button type="button" class="navBtn">
        <span class="material-icons">
          expand_more
        </span>
      </button>
    </div>
  </div>
</nav>