<div id="new-pub">
    <form action="/upload" method="post">
        <div id="header-new-pub">
            <div id="prof-pic-new-pub">
                <img class="profilePhoto" src="{{profilePic user.Google.profilePicId}}" alt="{{user.user}}">
            </div>
            <div id="textarea-new-pub">
                <textarea class="textarea" placeholder="¿Qué estás pensando?" name="publication" id="textareaNewPub"></textarea>
            </div>
        </div>
        <div id="nav-new-pub-div">
            <div id="nav-new-pub">
                <div id="btn-new-pub">
                    <button type="button" id="emoji-trigger" class="btnNewPub">
                        <span class="material-icons">
                            emoji_emotions
                        </span>
                    </button>
                    <label type="button" class="btnNewPub">
                        <span class="material-icons">
                            image
                        </span>
                    </label>
                    <button type="button" class="btnNewPub">
                        <span class="material-icons">
                            videocam
                        </span>
                    </button>
                </div>
                <div id="sbmt-new-pub">
                    <button id="sbmtNewPub" type="submit" disabled>
                        Subir
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="module" src="/javascript/emojiBtn.js"></script>