#app-body-pos{
    display: flex;
    flex-direction: column;
}

#app-body{
    display: flex;
    width: 100%;
    height: 100%;
}

#top-bar{
    display: flex;
    width: 100%;
    height: 57px;
}

#content{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

#content-pos{
    width: 72.5%;
    display: flex;
    flex-direction: row;
}

.publications{
    border-left: #888 1px solid;
    border-right: #888 1px solid;
    width: 65%;
}