body{
    background: #fff;
    height: 100vh;}
html, body{margin: 0;}
#app{height: 100%;}
.columns-3{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    height: 100%;}
.bg-dark{background-color: #212121;}
.bg-light{background-color: #fff;}
.a-normalize{
    text-decoration: none;
    color: #000;}
.a-normalize:hover{
    text-decoration: none;
    color:#000;}
.hide{display: none;}
.disabled{display: none;}
.disable-select {
    -webkit-touch-callout: none;-webkit-user-select: none;
    -khtml-user-select: none;-moz-user-select: none;
    -ms-user-select: none;user-select: none;
}