<div class="edit-profile-div">

    <form id="formFile" action="/profile/editsuccess?_method=PUT" method="POST" enctype="multipart/form-data">
        
        <div class="edit-profile-progress-div progress">
            <div id="progress" class="progress-bar progress-bar-striped" role="progressbar" ></div>
        </div>

        <div class="edit-profile-title">Editar perfil</div>

        <div class="form-group edit-profile-group">
            <span class="edit-profile-element">Cambiar nombre de usuario</span>
            <input type="text" name="user" placeholder="Nombre de usuario" value="{{user.user}}">
        </div>

        <div class="form-group edit-profile-group">
            <div class="edit-profile-file-form">
                <!-- cut image scripts -->

                <link href="/css/cropper.css" rel="stylesheet">
                <script src="/javascript/cropper.js"></script>
                <script src="/javascript/cutPic.js" type="module"></script>
                <!-- input -->
                <span class="edit-profile-element" id="edit-profile-title-porfilePic">Cambiar foto de Perfil</span>
                <div class="preview-div">
                    <!-- Preview -->
                    <div id="editor"></div>
                    <input id="file" class="edit-profile-element" accept="image/*" type="file" name="image">
                    <div id="div-editor-buttons">
                        <label for="file" class="edit-profile-btn-save-ProfilePhoto"><span class="material-icons">file_upload</span>Examinar</label>
                    </div>
                    <canvas id="preview">
                        
                    </canvas>
                    
                </div>
            </div>
            <textarea id="imgDim" name="imgDim"></textarea>
        </div>

        <div class="form-group edit-profile-group">
            <span class="edit-profile-element">Descripción</span>
            <textarea class="edit-profile-element" name="description" cols="60" rows="5" placeholder="Cuentanos de ti...">{{user.description}}</textarea>
        </div>

        <div class="form-group edit-profile-submit-div">
        <input type="submit" value="Guardar" class="edit-profile-submit">
        </div>

    </form>

</div>