<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Ingresá
            </div>
            <div class="card-body">
                <form action="/login" method="post">
                    <div class="form-group">
                        <input type="text" name="user" class="form-control" placeholder="usuario o email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="contraseña">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Ingresar
                        </button>
                    </div>
                    <div class="form-group">
                        <a href="/forgetpass" class="d-flex w-50" style="font-size: 12px; float: left;">¿Olvidaste tu contraseña?</a>
                        <a href="/signup" class="d-flex w-50" style="font-size: 12px; float: right; justify-content: right;">Registrarse</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>